<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.twogenesis.shop_data_schedule.mapper.HistoryMapper">
    <select id="selectPageConnHistory" resultType="com.twogenesis.shop_data_schedule.data.PageConnVO">
        select * from page_conn_history
        where pch_reg_dt between #{start_dt} and #{end_dt}
    </select>
    <select id="selectMemberProdHistory" resultType="com.twogenesis.shop_data_schedule.data.MemberProdVO">
        select * from member_prod_history
        where mph_reg_dt between #{start_dt} and #{end_dt}
    </select>
    <select id="selectReviewInfo" resultType="com.twogenesis.shop_data_schedule.data.ReviewInfoVO">
        select ri_score,ri_mi_seq,ri_pi_seq,ri_mod_dt,ri_status,ri_report_cnt 
        from review_info
        where ri_mod_dt between #{start_dt} and #{end_dt}
    </select>
    <select id="selectShoppingRecord" resultType="com.twogenesis.shop_data_schedule.data.ShoppingRecordVO">
        select 
            scd_mi_seq, 
            scd_pi_seq,
            sum(scd_count) as buy_quantity,
            avg(scd_count) as buy_quantity_avg, 
            count(*) as buy_frequncy 
        from(
	        select * from shopping_cart_data where scd_status = #{status} and scd_mod_dt between #{start_dt} and #{end_dt}
        )a
        group by scd_mi_seq,scd_pi_seq
    </select>
    <select id="selectMemberInfo" resultType="com.twogenesis.shop_data_schedule.data.MemberInfoVO">
        select mi_seq, mi_email,mi_gen,mi_grade from member_info
        where mi_role != 99 and 
        mi_reg_dt between #{start_dt} and #{end_dt};
    </select>
    <select id="selectProductInfo" resultType="com.twogenesis.shop_data_schedule.data.ProductInfoVO">
        select pi_seq,pi_name,cate_name,mfi_name from product_detail_info
        where pi_release_date between #{start_dt} and #{end_dt};
    </select>
</mapper>